<h1>This is your home</h1>
<%= link_to "Add Company", new_company_path %>
<br>
<%= link_to "Add Jobsite", new_user_jobsite_path(@user) %>
<br>
<%= link_to "View all Companies", companies_path %>
<br>
<%= link_to "View Your Jobsites", user_jobsites_path(@user) %>